<div class="container">
  <%= form_with model: item, url: path do |f| %>

      <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :quantity %>
        <%= f.text_field :quantity, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :minimum_bets %>
        <%= f.text_field :minimum_bets, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :online_at %>
        <%= f.datetime_field :online_at, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :offline_at %>
        <%= f.datetime_field :offline_at, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :start_at %>
        <%= f.date_field :start_at, class: 'form-control' %>
      </div>

    <div class="my-3">
      <label for="status"> Status</label>
      <p><% Item.statuses.keys.each do |status|  %>
          <%= f.radio_button :status, status %>
          <%= f.label status.to_sym %>
        <% end %></p>
    </div>

      <%= f.submit "Update", class: 'border btn btn-primary' %>
    <% end %>

  <%= link_to 'Back', :back, class: 'btn btn-primary' %>
</div>