<h1>Index for Item <span> <%= link_to 'Create', new_admin_item_path, class: 'btn btn-info' %></span></h1>
<div class="container">
  <table class="table text-center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Categories</th>
      <th>Quantity</th>
      <th>Minimum Bets</th>
      <th>State</th>
      <th>Batch Count</th>
      <th>Online</th>
      <th>Offline</th>
      <th>Start at</th>
      <th>Status</th>
      <th>Option</th>
      <th>Action</th>
    </tr>
    </thead>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= image_tag item.image.url, style: 'height:50px' if item.image? %></td>
        <td><%= item.name %></td>
        <td><%= item.categories.pluck(:name).join(',') %></td>
        <td><%= item.quantity %></td>
        <td><%= item.minimum_bets %></td>
        <td><%= item.state %></td>
        <td><%= item.batch_count %></td>
        <td><%= item.online_at %></td>
        <td><%= item.offline_at %></td>
        <td><%= item.start_at %></td>
        <td><%= item.status %></td>
        <td>
          <%= link_to 'Edit', edit_admin_item_path(item), class: 'btn btn-info' %>
          <%= button_to 'Delete', admin_item_path(item), method: :delete, class: 'btn btn-danger' %>
        </td>
        <td>
          <%= button_to 'Start', admin_item_start_path(item), method: :put, class: 'btn btn-outline-success btn-sm' if item.may_start? %>
          <%= button_to 'Pause', admin_item_pause_path(item), method: :put, class: 'btn btn-outline-warning btn-sm' if item.may_pause? %>
          <%= button_to 'Cancel', admin_item_cancel_path(item), method: :put, class: 'btn btn-outline-danger btn-sm' if item.may_cancel? %>
          <%= button_to 'End', admin_item_end_path(item), method: :put, class: 'btn btn-outline-danger btn-sm' if item.may_end?  %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
