<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @banners.each do |banner| %>
        <div class="carousel-item active">
          <%= image_tag "#{banner.preview.url}", class: "d-block w-100", style: "height: 500px;" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="alert alert-info">
  <marquee class="h4 p-0">Announcement:
    <% @news_tickers.each do |news| %>
      <%= news.content %>
    <% end %>
  </marquee>
</div>
<button class="container btn btn-success my-2 w-100 d-flex justify-content-center">Cash in!</button>


<% @winners.each do |winner| %>
  <div class="container">
    <div class="card bg bg-light mb-3 p-5">
      <div class="row g-0">
        <div class="col-md-2">
          <%= image_tag winner.picture.url, class: "img-fluid rounded-start" if winner.picture? %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mb-3"><%= current_user.username %></h5>
            <p class="card-text"><%= winner.comment %></p>
            <p class="card-text"><small class="text-muted"><%= winner.updated_at %></small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>