<%= render "layouts/notification_messages" %>

<h1>Address Index <span class="badge btn btn-primary">
  <%= link_to 'Create New', new_user_address_path, style: "text-decoration: none; color: white" %>
  </span></h1>

<div class=" mt-5 container bg-light">
  <table class="table">
    <thead>
    <tr class="text-center bg-dark" style="color: white;">
      <th>Default</th>
      <th>Name</th>
      <th>Location</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>PostCode</th>
      <th colspan="2">Action</th>
    </tr>
    <tr class="text-center">
      <% @many_address.each do |address| %>
        <td class="m-0 p-0" style="width: 50px;"> <span><% if address.is_default %><i class="fa-solid fa-circle-check"></i><% end %></span></td>
        <td><%= address.name %></td>
        <td><span class="bg-warning" style="border-radius: 20px; padding: 5px 10px;"> <%= address.genre %> </span></td>
        <td><%= address.phone_number %></td>
        <td><%= address.street_address %></td>
        <td style="width: 15%"><%= "#{address.barangay&.name}, #{address.city_municipality&.name}, #{address.province&.name}, #{address.region&.name}" %></td>
        <td><%= link_to "Edit", edit_user_address_path(address), class: "btn btn-outline-warning" %></td>
        <td><%= button_to "Delete", user_address_path(address), method: :delete, class: "btn btn-outline-danger" %></td>
        </tr>
      <% end %>
      </table>
</div>
