<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div>
        <% @banners.each do |banner| %>
          <div class="carousel-item active">
            <%= image_tag "#{banner.preview.url}", class: "d-block w-100", style: "height: 500px;" %>
          </div>
        <% end %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="alert alert-info">
  <marquee class="h4 p-0">Announcement:
    <% @news_tickers.each do |news| %>
      <%= news.content %>
    <% end %>
  </marquee>
</div>

<div class="d-flex justify-content-lg-start">
  <div class="container mt-5">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-lg-6 my-3">
          <div class="card d-flex justify-content-center alert alert-warning" style="width: 100%;">
            <h4 class="card-title">Promo: <%= offer.name %></h4>
            <div class="card-body ">
              <button type="button" style="background: none; border: none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <span aria-hidden="true"><%= image_tag offer.image.url, style: 'height:450px; width: 100%' if offer.image? %></span>
              </button>

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><%= offer.name %></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <label for="shop">Amount</label>
                      <%= offer.amount %>
                      <br>
                      <label for="coin">Coin</label>
                      <%= offer.coin %>
                    </div>
                    <div class="modal-footer">
                      <%= form_with model: @order, url: user_shop_index_path(id: offer) do |f| %>
                        <%= f.submit 'Save', class: "btn btn-outline-success" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

