<h1>Address Index <span class="badge btn btn-primary">
  <%= link_to 'Create New', new_address_path, style: "text-decoration: none; color: white" %>
  </span></h1>

<div class="container">
  <table class="table">
    <thead>
    <tr class="text-center">
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>PostCode</th>
      <th>Action</th>
    </tr>
    <% @many_address.each do |address| %>
      <tr class="text-center">
        <td><%= address.name %></td>
        <td><%= address.phone_number %></td>
        <td style="width: 10%"><%= address.street_address %></td>
        <td style="width: 10%"><%= "#{address.barangay&.name}, #{address.city_municipality&.name}, #{address.province&.name}, #{address.region&.name}" %></td>
        <td><%= link_to "Edit", edit_address_path(address), class: "btn btn-outline-warning" %></td>
      </tr>
    <% end %>
    </table>
</div>