<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black-50 text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Homepage</span>
            </a>
          </li>
          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Member Management</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
              <li class="w-100 my-2">
                <%= link_to "User List", admin_users_path, style: "text-decoration: none" %>
              </li>
              <li>
                <%= link_to "Item List", admin_items_path, style: "text-decoration: none" %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Example 2 Management</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 2</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Pages</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100 my-1">
                <%= link_to "Bets", admin_bets_path, style: "text-decoration: none" %>
              </li>
              <li class="my-1">
                <%= link_to "Category", admin_categories_path, style: "text-decoration: none" %>
              </li>
              <li class="my-1">
                <%= link_to "Winners", admin_winners_path, style: "text-decoration: none" %>
              </li>
              <li class="my-1">
                <%= link_to "Offers", admin_offers_path, style: "text-decoration: none" %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link px-0 align-middle disabled">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <%= render "layouts/notification_messages" %>
      <%= yield %>
    </div>
  </div>
</div>
