
<h1>Admin Users</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Parent Email</th>
    <th>Email</th>
    <th>Children Members</th>
    <th>Coins</th>
    <th>Total Used Coins</th>
    <th>Total Deposit</th>
    <th>Member Total Deposit</th>
    <th>Phone Number</th>
  </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.parent&.email %></td>
      <td><%= user.email %></td>
      <td><%= user.children_members %></td>
      <td><%= user.coins %></td>
      <td></td>
      <td><%= user.total_deposit %></td>
      <td></td>
      <td><%= user.phone %></td>


    </tr>
  <% end %>
</table>